@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Spectral+SC:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.texto100 {
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}

.shop {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#texto1 {
  font-style:oblique;
  font-size: 27px;
  margin-top: 60px;
  color: black;
  margin-right: 150px;
  margin-left: 150px;
}

#negrita {
  font-weight: bold;
}
.creador {
  font-size: 20px;
  margin-top: 370px;
  margin-left: 1650px;
  color: green;
}

#kizu2 {
  margin-top: 100px;
  width: 800px;
  height: 600px;
  margin-left: 100px;
}

#kizu3 {
  margin-top: 20px;
  height: 850px;
  width: 1400px;
  margin-left: 250px;
}
#kizu33 {
  margin-top: 40px;
  text-align: left;
  font-size: 25px;
  margin-left: 50px;
  text-align: center;
  
}
#kizu4 {
  margin-top: 100px;
  width: 800px;
  height: 600px;
  margin-left: 100px;
}


#titulo {
  font-size: 40px;
  color: #335C4E;
  margin-top: 30px;
  margin-left: 55px;
}

#nunu2 {
  height: 900px;
  width: 1000px;
  margin-left: 22%;
}

#nunu3 {
  margin-left: 50px;
  height: 600px;
  width: 800px;
  margin-left: 100px;
}

#nunu4 {
  margin-left: 200px;
  height: 700px;
  width: 700px;
  margin-top: 40px;
}

#nunu44 {
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
  margin-left: 50px;
}
#titulo2 {
  font-size: 40px;
  color: #335C4E;
  margin-top: 30px;
  margin-left: 70px;
}

#bone2 {
  height: 900px;
  width: 900px;
  margin-top: 20px;
  margin-left: 25%;
}

#bone3 {
  height: 800px;
  width: 700px;
  margin-left: 90px;
}

#bone4 {
  height: 700px;
  width: 1100px;
}

#bone400 {
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
  margin-left: 50px;
}

#noria {
  background-image: url(https://giffiles.alphacoders.com/200/200402.gif);
}
.div1 {
  width: 600px;
  height: 600px;
  position: absolute;
}

.muchos {
  height: 520px;
  width: 570px;
  margin-top: 50px;
  margin-left: 50px;
}



#a1 {
  color: red;
  font-size: 30px;
  margin-left: 280px;
}

#a2 {
  font-size: 20px;
  margin-left: 310px;
}
#b2 {
  font-size: 20px;
  margin-left: 295px;
}
#a3 {
  color: green;
  margin-left: 250px;
  font-size: 20px;
  font-family: 'Candal', sans-serif;
}
#b3 {
  color: red;
  font-size: 30px;
  margin-left: 270px;
 }
#a4 {
  margin-top: 30px;
}
.aaaaa {
  float: left;
}


