.div1 {
    width: 600px;
    height: 600px;
    position: absolute;
}
.uno {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.amazon.es%2FCartel-Muerto-Recompensa-decoraci%25C3%25B3n-restaurante%2Fdp%2FB08FZ3PY38&psig=AOvVaw0jj4PQG-R-KMboocwFAbru&ust=1642530640840000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJjg8oq2ufUCFQAAAAAdAAAAABAD');
}